<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target name="aspnet" xsi:type="ASPNetTrace" layout="${logger} ${message}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="aspnet" />
  </rules>
  
</nlog>
